@model LocalPasswordModel

<p>
    Du har ikke koblet opp en lokal konto. Legg til et passord som du kan bruke til å logge inn med.
</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class ="contact_form"})) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="row">
        <div class="small-6 large-6 columns">
            @Html.LabelFor(m => m.NewPassword)
        </div>
        <div class="small-6 large-6 columns">
            @Html.PasswordFor(m => m.NewPassword)
        </div>
    </div>
    <div class="row">
        <div class="small-6 large-6 columns">
            @Html.LabelFor(m => m.ConfirmPassword)
        </div>
    <div class="small-6 large-6 columns">
        @Html.PasswordFor(m => m.ConfirmPassword)
    </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns" style="text-align: right">
            <input type="submit" value="Sett passord" />
        </div></div>
    <br/>
}
